<nav>
    <ul class="nav-a">
        <li><a href="/">IBM Recycle Proyect</a></li>
        <li><a href="/">Home</a></li>
        <li><a href="/conocenos">About us</a></li>
        <li><a href="/servicios">Services</a></li>
        <li><a href="/contacto">Contact</a></li>
        <li><a href="/cursos">Curses</a></li>
        <li><a href="/login">Login</a></li>
    </ul>
</nav>