<nav class="menu" id="main-menu">
    <button class="menu-toggle" id="toggle-menu"><span class="material-icons">menu</span></button>
    <div class="menu-dropdown">
        <ul class="nav-menu">
            <li><a href="/">IBM Recycle Proyect</a></li>
            <li><a href="/">Home</a></li>
            <li><a href="/conocenos">About us</a></li>
            <li><a href="/servicios">Services</a></li>
            <li><a href="/contacto">Contact</a></li>
            <li><a href="/cursos">Curses</a></li>
            <li><a href="/users/login">Login</a></li>
        </ul>
    </div>
</nav>