<nav>
    <ul class="nav-a">
        <li><a href="/">IBM Recycle Proyect</a></li>
        <li><a href="/">Inicio</a></li>
        <li><a href="/conocenos">Conocenos</a></li>
        <li><a href="/servicios">Servicios</a></li>
        <li><a href="/contacto">Contacto</a></li>
        <li><a href="/cursos">Cursos</a></li>
        <li><a href="/ingresar">Ingresar</a></li>
    </ul>
</nav>