
<header id="header" class="page-header">
    <div class="container text-center">
        <div class="row align-items-center">
            <div class="col-lg">
                <img class="img-fluid img-recycle" src="../assets/banner.jpg" alt="Recycle image app">
            </div>
            <div class="col">
                <aside>
                    <h1 class="font-titles">Bienvenido al sitio de economía circular</h1>
                    <p class="font-sent">Aprende sobre reciclaje, sus reglas, beneficios y como ayudar a tu propia comunidad en lograr un reciclaje eficiente y sin menor daño ecologico.</p>
                    <a href="#cards-recycle"><button type="button" class="aml-button">Ver recursos</button></a>
                </aside>
            </div>
        </div>
    </div>
</header>
<section id="cards-recycle">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <div class="aml-card">
                    <img src="../assets/cardC.jpg">
                    <h4 class="font-titles">Reciclaje rápido</h4>
                    <p class="kit">Comparte con la comunidad los objetos que puedan reciclarse y darle una vida más prolongada.</p>
                    <a href="./recycle"><button type="button" class="aml-button">Ver más</button></a>
                </div>
            </div>
            <div class="col-md">
                <div class="aml-card">
                    <img src="../assets/cardB.jpg">
                    <h4 class="font-titles">Lugares de reciclaje</h4>
                    <p class="kit">Encuentra los lugares claves dentro de la comunidad que aceptan en cualquier momento objeos para reciclar.</p>
                    <a href="/findTrash"><button type="button" class="aml-button">Ver lugares</button></a>
                </div>
            </div>
            <div class="col-md">
                <div class="aml-card">
                    <img src="../assets/cardD.jpg">
                    <h4 class="font-titles">Economía circular</h4>
                    <p class="kit">Aprende más sobre como funciona la economía circular y sacarle el máximo provecho tanto para ti y tu comunidad.</p>
                    <a href="#"><button type="button" class="aml-button">Ver recursos</button></a>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="./js/design.js"></script>