
<header id="header" class="page-header">
    <div class="title">
    <h1>Recycle economy</h1>
    <div class="slogan">IBM2022</div>
    </div>
</header>

<aside id="hero" class="hero">
    Welcome to my project of Recycle economy open source for IBM call for code 2022
</aside>

<main id="main">
    <div class="row">
        <section class="column">
            <h2 class="subtitle">Recyclers</h2>
            <p>This section will for those want to recycle or accept items that can prolong life.</p>
        </section>
        <section class="column">
            <h2 class="subtitle">Items for recycle</h2>
            <p>This section is for those want to throw items to the garbage but they know that they can recycle</p>
        </section>
    </div>

</main>