<div class="container">
    <div class="row">
        <div class="col">
            <h1>Welcome to the recycle page</h1>
            <p>Here you can fill the form to upload all the information that you can share with us, at the end any we can go to your home or place to pick up the garbage to recycle.
                the aims of this sections is to know of each other in our community if you have some items that we can prolong their live and share, reuse, repair existing materials as a Circular economy.
            </p>
            
        </div>
    </div>
</div>
