:root {
    --color-nav-font: #444444;
    --color-nav-border: #38761d;
    --color-nav-border-light: 	#7eb566;
    --color-nav-active: 	#b0c3d9;
    --color-nav-visited: #9a9280;
    --nav-font: 'Rubik Dirt', cursive;
    --nav-font-sent: 'Nerko One', cursive;
    --shadow-cards: #d6ccad;
}
footer {
    text-align: center;
}
p {
    font-family: var(--nav-font-sent);
    color: var(--color-nav-font);
    font-size: larger;
}
.font-titles {
    font-family: var(--nav-font);
    color: var(--color-nav-visited);
}
.font-sent {
    font-family: var(--nav-font-sent);
    font-size: x-large;
    color: var(--color-nav-font);
}
.aml-img {
    height: 200px;
    margin: 4%;
    border-radius: 15px;
}
#cards-recycle {
    margin: 50px 0 0 0;
}
@media (min-width: 1200px) {
    button {
        background: none;
    }
    .aml-button {
        border: 2px solid var(--color-nav-border-light);
        border-radius: 5px;
        padding: 1%;
        font-family: var(--nav-font-sent);
        font-size: x-large;
        box-shadow: 5px 5px var(--color-nav-border);
        color: var(--color-nav-font);
    }
    .aml-card {
        margin: 10px 0 30px 0;
        box-shadow: 2px 3px 6px var(--shadow-cards);
        border-radius: 15px;
        padding: 5%;
    }
    .aml-card img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 15px;
    }
    
}



