/* DESKTOP NAV */
@media only screen and (min-device-width: 1200px) {
    .nav-a > li {
        display: inline-flex;
        padding: 2%;
        color: var(--color-fonts);
        font-size: x-large;
    }
    .nav-a > li > a {
        color: var(--color-fonts);
        text-decoration: none;
        font-family: var(--font-family-nav);
    }
    .nav-a {
        text-align: center;
    }
    .nav-a > li > a:hover {
        border-bottom: 2px solid var(--recy-colorA);
    }
    
}