<div class="container">
    <div class="row">
        <div class="col">
            <h4 class="font-titles">Formulario para recicladores</h4>
            <p class="font-sent">Utiliza el formulario para ser parte de los recicladores de tu comunidad.</p>
            <form action="/findTrash/create" method="POST">
                <div class="row">
                <div class="col">
                    <label for="name" class="form-label font-sent">Nombre</label>
                    <input class="form-control font-sent" id="name" type="text" name="name" placeholder="Nombre y Apellido">
                    <label class="form-label font-sent" for="number">Telefono</label>
                    <input class="form-control font-sent" id="number" type="number" name="phone" placeholder="Telefono">
                    <label for="address" class="form-label font-sent">Direcci贸n</label>
                    <input id="address" class="form-control font-sent" type="text" name="address" placeholder="Direcci贸n">
                </div>
                <div class="col">
                    <label for="items" class="form-label font-sent">Tipo de reciclaje</label>
                    <input class="form-control font-sent" list="items" name="items" placeholder="Tipo de reciclaje">
                    <datalist id="items">
                        <option value="Madera">
                        <option value="Plasticos">
                        <option value="Papel">
                        <option value="Ropa">
                        <option value="Vidrio">
                    </datalist>
                    <label for="description" class="form-label font-sent">Descripci贸n</label>
                    <input id="description" class="form-control font-sent" type="text" name="description" placeholder="Descripci贸n o como, donde llevar la basura" aria-label="readonly input example">
                    <label for="date" class="form-label font-sent">Fecha</label>
                    <input id="date" class="form-control font-sent" type="date" name="date" placeholder="Fecha">
                </div>
                </div>
                <label for="submit" class="font-sent">Publicar</label>
                <input id="submit" class="form-control aml-button" type="submit" name="Submit">
            </form>
        </div>
    </div>
</div>
