<div class="container">
    <div class="row">
        <div class="col">
            <h4 class="font-titles">Llena el formulario y haz un reciclaje más eficaz</h4>
            <p class="font-sent">Recuerda que toda la información que ingreses debe ser lo más exacto posible al tipo de basura para reciclar, esto ayudará a las personas que se dedican a la economía circular a recoger la basura correspondiente.</p>
            
            <form action="/easyRecycle/create" method="POST">
                <div class="row">
                <div class="col">
                    <label for="name" class="form-label font-sent">Escribe tu nombre</label>
                    <input class="form-control" id="name" type="text" name="name" placeholder="Nombre y apellido">
                    <label class="form-label font-sent" for="number">Numero de teléfono</label>
                    <input class="form-control" id="number" type="number" name="phone" placeholder="Teléfono">
                    <label for="address" class="form-label font-sent">Dirección</label>
                    <input id="address" class="form-control" type="text" name="address" placeholder="Dirección">
                </div>
                <div class="col">
                    <label for="items" class="form-label font-sent">Tipo de basura</label>
                    <input class="form-control" list="items" name="items" placeholder="Tipo">
                    <datalist id="items">
                        <option value="Madera">
                        <option value="Plasticos">
                        <option value="Papel">
                        <option value="Ropa">
                        <option value="Vidrio">
                    </datalist>
                    <label for="description" class="form-label font-sent">Breve descripción del tipo de basura</label>
                    <input id="description" class="form-control" type="text" name="description" placeholder="Descripción" aria-label="readonly input example">
                    <label for="date" class="form-label font-sent">Fecha</label>
                    <input id="date" class="form-control" type="date" name="date" placeholder="Fecha">
                </div>
                </div>
                <label for="submit" class="font-sent">Publicar</label>
                <input id="submit" class="form-control aml-button" type="submit" name="Submit" placeholder="Publicar">
            </form>
        </div>
    </div>
</div>
