<h3>Fill the form to start</h3>

<form action="/easyRecycle/create" method="POST">
    <input type="text" name="name" placeholder="Name">
    <input type="number" name="phone" placeholder="Phone">
    <input type="text" name="address" placeholder="Address">
    <input type="text" name="items" placeholder="Items">
    <input type="text" name="description" placeholder="Description">
    <input type="date" name="date" placeholder="Date">
    <input type="submit" name="Submit">
</form>